body {
    width: 100%;
    height:100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
}

h1 {
    font-family: 'Roboto', sans-serif;
    color:rgb(55, 121, 133);
    font-size: 27px;
}

.input-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

input {
    border:lightblue solid 2px;
    padding:20px;
    border-bottom-left-radius: 7px;
    border-top-left-radius: 7px;
    margin:0;
    color:rgb(109, 187, 201);
}

button {
    border:none;
    padding:10px 20px;
    background-color: transparent;
    color:rgb(102, 188, 223);
}

#list-container {
    padding-top: 30px;
    font-family: 'Roboto', sans-serif;
    color:rgb(109, 187, 201);
    font-size: 18px;
    width: 80%;
}

#add {
    padding:20px;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    color:rgb(76, 134, 153);
    border:lightblue solid 2px;
    border-left: transparent;
}

#clear {
    margin:70px 0 40px 0;
    background:rgb(255, 89, 89);
    border-radius: 5px;
    color:white;
}

.remove {
    display:none;
}

/*----classlist styles------*/


.newDiv {
    padding: 10px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.lineThrough {
    text-decoration: line-through;
}


@media only screen and (min-width: 1200px){


#list-container {
    width:30%;
}




}