body {
    width: 100%;
    height:100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: 'Roboto', sans-serif;
    color:rgb(55, 121, 133);
}

.input-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

input {
    border:lightblue solid 2px;
    padding:20px;
    border-bottom-left-radius: 7px;
    border-top-left-radius: 7px;
    margin:0;
    color:rgb(109, 187, 201);
}

button {
    border:none;
    padding:10px 20px;
    background-color: rgb(192, 234, 245);
    color:rgb(102, 188, 223);
}

#list-container {
    padding-top: 30px;
    font-family: 'Roboto', sans-serif;
    color:rgb(109, 187, 201);
    font-size: 18px;
}

#add {
    padding:22px;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    color:green;
}

#clear {
    margin:70px 0 40px 0;
    background:rgb(255, 89, 89);
    border-radius: 5px;
    color:white;
}

.add {
    display:flex;
}
